* {
  box-sizing: border-box;
}
html {
  font-family: pretendard;
}
body {
  background-color: #000;
  color: #fff;
  font: 16px;
  margin: 0;
}
.player {
  backdrop-filter: blur(16px);
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
}
.progress-bar {
  background-color: #4d4d54;
}
.progress {
  background-color: #7000ff;
  width: 60%;
  height: 10px;
}
.player-main {
  background-color: rgba(47, 47, 63, 0.7);
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
}
.info {
  display: flex;
  gap: 16px;
  margin-left: 16px;
  align-items: center;
}
.title {
  color: #d9d9d9;
}
.artist {
  color: #8c8993;
}
.control {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time {
  color: #8c8993;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.time,
.info {
  flex-basis: 300px;
}
