.App {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffd43b;
  position: relative;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-titleBox img {
  align-self: flex-start;
  flex-direction: row;
  position: absolute;
  top: 30px;
  right: 10px;
}
.pointBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.pointBox * {
  margin: 0;
}
.point {
  font-size: 64px;
}
.pointBox .qt {
  font-size: 64px;
  padding-bottom: 24px;
}
.that {
  text-align: center;
}
.box {
  background-color: #fddf97;
  padding: 16px 32px;
  border-radius: 16px;
}
.rspVerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resultBox {
  text-align: center;
  width: 80%;
  height: 150px;
  background-color: beige;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  margin-top: 24px;
}
.resultBox h3 {
  color: black;
}
.resultBox h4 {
  color: black;
}
.rspBox {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  width: 100%;
}

.Img {
  width: 100px;
  height: 100px;
  background-color: #fdedc8;
  padding: 32px;
  border-radius: 50%;
}
.Img:hover {
  background-color: #fdedc8ce;
}
.myRSP,
.otherRSP {
  position: relative;
  display: flex;
}
.myChoice {
  position: absolute;
  top: 35%;
  left: 25%;
}
.otherChoice {
  position: absolute;
  top: 35%;
  left: 30%;
}
